:root{
    --primario:#109DEB;
    --primarioOscuro:#E657EB;
    --secundario:#EBAF63;
    --secundarioOscuro:#80F03A;
    --terciario:#EBA54B;
    --blanco:#FFF;
    --negro:#000;

    --fuentePrincipal:'Roboto';

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: 'Roboto';
    color: var(--blanco);
}
a{
    text-decoration: none;
}

img{
    width: 100%;
}
.contenedor{
    
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h2{
    font-size: 2.4rem;
}

/**header**/

.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

.navegacion{
    background-color: var(--secundario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--primarioOscuro);
}
footer{
    background-color: var(--secundario);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font: 2.2rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}

.producto{
    background-color: var(--secundario);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__informacion{

}
.producto__nombre{
    font-size: 3.5rem;
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--primarioOscuro);
}

.producto__nombre, .producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;

}
.grafico--controles{
    grid-row: 2/3;
    
    background-image: url(../img/img2.jpg);
}
.grafico--teclado{
    
    background-image: url(../img/img1.jpg);
}
@media (min-width: 768px) {
    .grafico--teclado{
        grid-row: 3 / 4 ;
        grid-column: 2 /4 ;
    }
}

